.userPicture{
    margin: 0 auto;
    width:30px;
    margin-top: 0;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0 0 20px;
}
.commentUserPicture {
  width: 30px;
  height: 30px;
  float: left;
  position: relative;
}
.commentDropDown {
  position: relative;
  left: 1500px;
}

.commentUsername {
    color: dodgerblue;
    margin-left: 35px;
    margin-bottom: 15px;
    position: relative;
    top: 5px;
}

/* Jon */
.loggedIn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.userName {
  margin-bottom: 10px;
  text-align: center;
}

textarea {
    background-color: darkslategray;;
    width: 300px;
    height: 30px;
}
.commentButton {
    margin-left: 40px;
    margin-bottom: 20px;
    border-radius: 50%;
    width:200px;
    height: 50px;
}

.commentButton:hover {
  background-color: darkslategrey;
  opacity: 0.8;
  color: white;
  cursor: pointer;
}

.commentField {
    max-height: 210px;
    max-width: auto;
    width: 100%;
    white-space: nowrap;
    text-overflow: hidden;
    overflow: scroll;
    background: #333644;
}

.commentText {
    height: auto;
    max-width: 300px;
    max-height: 100%;
    color: white;
}

.writeBox {
    color: white;
    background: #333644;
    position: relative;
    top: 20px;
    height: 50px;
    width: 400px;
}

.commentWhole {
  margin: 20px;
  padding: 7px;
  box-shadow: 0px 4px 2px white;
}
.sumUp {
  max-height:200px;
  margin-bottom: 10px;
}
