body {
    background-color: white;
}

h1 {
    color: white;
    text-align: center;
}
/* HELLOOOOOOO */


/* HELLOOOOO AGAIN */

.commentImage {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
    
}
.commentDiv {
    margin: 10px;
    border: black 1px solid;
    background-color: lightgray;
    width: 400px;
    display: flex;
}
.commentDiv > * {
    margin: 6px;
}
.userDiv {
    margin-top: 12px;
}
.timeDiv {
    position: relative;
}
.twitterContainer {
    background-color: skyblue;
    width: 150px;
    height: 600px;
    position: absolute;
    top: 0px;
    right: 50px;
}
.twitterDiv {
    border: black 1px solid;
    margin-top: 5px;
}